body {
    background-color: #212121;
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Lucida Console', ui-monospace, monospace;
}

.maincontent {
    width: calc(80% + 100px);
    min-height: calc(100% - 60px);
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #121212;
    box-sizing: border-box;
}


/* Styling a grid with 6 boxes each containing a card */

.card_container {
    width: 100%;
    height: 85%;
    margin: 25px auto 0;
    background-color: #121212;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    grid-auto-flow: row;
}

.card {
    vertical-align: middle;
    padding: 15px;
    width: 300px;
    height: 300px;
    color: white;
    background-color: #212121;
    border: 2px solid #39FF14;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 2%;
    border-top-right-radius: 2%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "icon icon econIcon econIcon orderIcon orderIcon" "icon icon econStat econStat orderStat orderStat" "username username healthIcon healthIcon diplomacyIcon diplomacyIcon" "username username healthStat healthStat diplomacyStat diplomacyStat" "profile profile profile send send send" "profile profile profile send send send" "ask ask ask break break break" "ask ask ask break break break";
    justify-content: center;
    align-content: center;
}

.card img#icon {
    grid-area: icon;
    max-width: 100%;
    object-fit: contain;
    justify-self: center;
    border: 3px solid #39FF14;
    border-radius: 50%;
    padding: 2px;
    height: 99px;
    width: 99px;
}

.card p {
    max-width: 100%;
    justify-self: center;
    text-align: center;
}

.card #username {
    grid-area: username;
    font-size: 14px;
}

.card img {
    align-self: center;
    object-fit: contain;
    justify-self: center;
    user-select: none;
}

.card #econIcon {
    grid-area: econIcon;
}

.card #orderIcon {
    grid-area: orderIcon;
}

.card #healthIcon {
    grid-area: healthIcon;
}

.card #diplomacyIcon {
    grid-area: diplomacyIcon;
}

.card #econStat {
    grid-area: econStat;
}

.card #orderStat {
    grid-area: orderStat;
}

.card #healthStat {
    grid-area: healthStat;
}

.card #diplomacyStat {
    grid-area: diplomacyStat;
}

.card button {
    color: white;
    background-color: black;
    border: 2px solid #39FF14;
    border-radius: 10px;
    transition: all 0.3s;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 5px;
    outline: none;
}

.card button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.card button.profile {
    grid-area: profile;
}

.card button.send {
    grid-area: send;
}

.card button.ask {
    grid-area: ask;
}

.card button.break {
    grid-area: break;
}


/* Styling for inside the card */


/* Styling for pagnation */

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    background-color: black;
    font-weight: bold;
    transition: background-color .3s;
    margin: 5px;
}

.pagination a#active {
    background-color: #39ff14;
    border: 1px solid white;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #212121;
}