body {
    background-color: #212121;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Console', ui-monospace, monospace;
    overflow: hidden;
}


/* Styling for header bar */

.header {
    max-height: 5vh;
    background-color: black;
    font-family: 'Lucida Console', ui-monospace, monospace;
    line-height: 40px;
    padding: 10px 5px;
    overflow: hidden;
}

.header a {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    vertical-align: middle;
}

.header a.logo {
    font-size: 28px;
}

.header a.currentpage {
    background-color: #39FF14;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
}

.header a.otherpage:hover {
    border-bottom: 2px solid white;
}

.right_header {
    float: right;
    margin-right: 30px;
    height: 40px;
    line-height: 40px;
}

.right_header img.user_icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.right_header form {
    display: inline-block;
}

.right_header button.logout {
    margin: 0 0 0 10px;
    border: none;
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: middle;
}

.maincontent {
    width: 80%;
    min-height: 90vh;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #121212;
    /* overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "stats establishments" "eventLog strategy";
    justify-items: center;
    align-items: center;
    align-content: space-around;
}

.innerpanel {
    width: 80%;
    height: 80%;
    background-color: #212121;
    border: 2px solid #39FF14;
    border-radius: 5%;
}

.innerpanel#stats {
    grid-area: stats;
}

.innerpanel#establishments {
    grid-area: establishments;
}

.innerpanel#eventLog {
    grid-area: eventLog;
}

.innerpanel#strategy {
    grid-area: strategy;
}

#title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #39FF14;
    margin-bottom: 0px;
    text-align: center;
    user-select: none;
}


/* The following are styling for statistics panel */

.innerpanel .stats {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px repeat(4, 1fr);
    grid-template-areas: "title title title title title" "econIcon econBar econBar econBar econBar" "orderIcon orderBar orderBar orderBar orderBar" "healthIcon healthBar healthBar healthBar healthBar" "diplomacyIcon diplomacyBar diplomacyBar diplomacyBar diplomacyBar";
    padding: 5px;
    align-items: center;
    justify-items: center;
    color: white;
    margin: auto;
}


/* Assigning grid-area to all the components */

.stats #title {
    padding-top: 5px;
    align-self: center;
    grid-area: title;
    user-select: none;
}

.stats #econIcon {
    grid-area: econIcon;
    width: auto;
    height: auto;
    user-select: none;
}

.stats #orderIcon {
    grid-area: orderIcon;
    width: auto;
    height: auto;
    user-select: none;
}

.stats #healthIcon {
    grid-area: healthIcon;
    width: auto;
    height: auto;
    user-select: none;
}

.stats #diplomacyIcon {
    grid-area: diplomacyIcon;
    width: auto;
    height: auto;
    user-select: none;
}

.stats #econBar {
    grid-area: econBar;
    user-select: none;
}

.stats #orderBar {
    grid-area: orderBar;
    user-select: none;
}

.stats #healthBar {
    grid-area: healthBar;
    user-select: none;
}

.stats #diplomacyBar {
    grid-area: diplomacyBar;
    user-select: none;
}


/* Percentage bar for stats */

.stats .barContainer {
    border: 1px solid white;
    background-color: #ccc;
    position: relative;
    height: 30px;
    width: 80%;
    padding: 0px;
}


/* the width of the bar should be handled by js */

.stats .bar {
    border: 0px;
    position: relative;
    text-align: center;
    height: 100%;
    width: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


/* Doing this prevents the need to hardcode color code in js */

.barContainer .bar#red {
    background-color: #FF0000;
}

.barContainer .bar#green {
    background-color: #00FF00;
}


/* Scrollable panel layout */


/* This needs to be a fixed height else the divs inside bleeds out */

.fixedPanel {
    height: 98%;
}

.variablePanel {
    height: 100%;
}

.fixedRelativePanel {
    height: 100%;
    position: relative;
}

.titleContainer {
    height: auto;
    text-align: center;
}

.titleContainer #title {
    height: auto;
    border: 0px;
    border-bottom: 2px solid #39FF14;
    display: inline-block;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    margin: 0px 0px;
}

.scrollableContainer {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.scrollableBox {
    max-height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollableBox::-webkit-scrollbar {
    width: 0.8em;
    background-color: #212121;
    border: 1px solid white;
    padding: 0px 1px;
}

.scrollableBox::-webkit-scrollbar-thumb {
    background-color: white;
    transition: all 0.2s;
    outline: 1px solid white;
}

.scrollableBox::-webkit-scrollbar-thumb:hover {
    background-color: #00FF00;
}


/* Wrapper makes sure each line has only 1 item */

div.blockWrapper {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.scrollableBox .boxedItem {
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    word-wrap: break-word;
    max-width: 80%;
    font-size: 16px;
    transition: all 0.2s;
    user-select: none;
}

.scrollableBox .boxedItem:hover {
    border: 2px solid #39FF14;
}

.scrollableBox p.log {
    border: 0px;
    padding: 2px 2px;
    font-size: 16px;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
    display: block;
}


/* Different color for each component of the a log message */

.scrollableBox p.log span#timestamp {
    color: yellow;
}

.scrollableBox p.log span#mainContent {
    color: white;
}

.scrollableBox p.log span#econ {
    color: #00FF00;
}

.scrollableBox p.log span#order {
    color: #C0C0C0;
}

.scrollableBox p.log span#health {
    color: #FF0000;
}

.scrollableBox p.log span#diplomacy {
    color: skyblue;
}


/* Styling for the strategy pannel */

.strategyGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px repeat(4, 1fr);
    grid-template-areas: "title title title" "econIcon econMenu econMenu" "orderIcon orderMenu orderMenu" "healthIcon healthMenu healthMenu" "diplomacyIcon diplomacyMenu diplomacyMenu";
    align-items: center;
    justify-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.strategyGrid #title {
    grid-area: title;
    border: 0px;
    border-bottom: 2px solid #39FF14;
    font-size: 24px;
    padding-top: 5px;
    margin-right: 15px;
    display: inline-block;
}

.strategyGrid #econIcon {
    grid-area: econIcon;
    user-select: none;
}

.strategyGrid #orderIcon {
    grid-area: orderIcon;
    user-select: none;
}

.strategyGrid #healthIcon {
    grid-area: healthIcon;
    user-select: none;
}

.strategyGrid #diplomacyIcon {
    grid-area: diplomacyIcon;
    user-select: none;
}

.strategyGrid .dropdownContainer {
    position: relative;
    display: inline-block;
    justify-self: flex-start;
}

.strategyGrid .dropdownButton {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    height: 40px;
    width: 200px;
    transition: linear 0.1s;
    user-select: none;
    outline: none;
}

.strategyGrid .dropdownButton:hover {
    border: 2px solid #39FF14;
}

.strategyGrid .dropdownMenu {
    position: absolute;
    background-color: black;
    color: white;
    border: 1px solid white;
    min-width: 200px;
    overflow: auto;
    z-index: 1;
    display: none;
    left: 100%;
    bottom: 0px;
    border-radius: 10px;
    user-select: none;
}

.strategyGrid .dropdownMenu .item {
    display: block;
    text-align: center;
    border: 0px;
    font-size: 20px;
    padding: 5px 5px;
    transition: linear 0.1s;
    text-transform: capitalize;
}

.strategyGrid .dropdownMenu .item:hover {
    background-color: #39FF14;
}

.strategyGrid #econMenuContainer {
    grid-area: econMenu;
}

.strategyGrid #orderMenuContainer {
    grid-area: orderMenu;
}

.strategyGrid #healthMenuContainer {
    grid-area: healthMenu;
}

.strategyGrid #diplomacyMenuContainer {
    grid-area: diplomacyMenu;
}


/* Styling for modal window, it should have a title, some text/image then two buttons */

.modalBackground {
    display: none;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-items: center;
}

.modalBackground .modalGrid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-areas: ". title title ." "content content content content" "choice1 choice1 choice2 choice2" ". close close .";
    border: 5px solid #39FF14;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #39FF14;
    height: 60%;
    width: 50%;
    background: #212121;
    color: white;
    padding: 5px 10px;
    justify-items: center;
}

.modalGrid div#titlediv {
    grid-area: title;
    text-align: center;
}

.modalGrid p#title {
    display: inline-block;
}

.modalGrid .modalContent {
    grid-area: content;
    align-self: center;
    width: 70%;
    height: 100%;
    text-align: left;
    word-wrap: break-word;
}

.modalGrid .modalContent p {
    line-height: 20px;
}

.modalGrid .modalButton {
    color: white;
    font-size: 16px;
    width: 80%;
    height: 80%;
    background: #121212;
    align-self: center;
    outline: 0px;
    border: 2px solid white;
    transition: linear 0.2s;
    border-radius: 10px;
    display: block;
}

.modalGrid .modalButton:hover {
    border: 2px solid #39FF14;
}

.modalButton#choice1 {
    grid-area: choice1;
}

.modalButton#choice2 {
    grid-area: choice2;
}

.modalButton#close {
    grid-area: close;
}