/* Styling for header bar */
#header {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 60px;
    background-color: black;
    font-family: 'Lucida Console', ui-monospace, monospace;
    line-height: 40px;
    padding: 10px 5px;
    overflow: hidden;
    box-sizing: border-box;
}

#header > a {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
}

#header > a.logo {
    display: inline-block;
    height: 40px;
    padding: 0;
}

#header > a.logo > img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

#header > a.logo > span {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-left: 10px;
    background-image: linear-gradient(to right, #39FF14 0%, #18520d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #212121;
    font-size: 50px;
    font-weight: 600;
    font-variant: small-caps;
    vertical-align: middle;
}

#header > a.current_page {
    background-color: #39FF14;
    color: black;
    border-radius: 4px;
}

#header > a.other_page:hover {
    border-bottom: 2px solid white;
}

.right_header {
    float: right;
    margin-right: 30px;
    height: 40px;
    line-height: 40px;
}

.right_header > a {
    display: inline-block;
}

.right_header img.user_icon {
    visibility: hidden;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
}

.right_header img.user_icon.loaded {
    visibility: visible;
}

.right_header form {
    display: inline-block;
}

.right_header button.logout {
    margin: 0 0 0 10px;
    border: none;
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 4px;
    border-radius: 4px;
}