body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
 
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#form-module-container *::selection {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#form-module-container {
    position: relative;
    margin: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 160px);
    background-image: linear-gradient(45deg, #000000 25%, #0097A7 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-family: 'Lucida Console', ui-monospace, monospace;
    overflow: hidden;
}

#form-module-container.sign-up {
    background-image: linear-gradient(-45deg, #000000 25%, #0097A7 100%);
}

#form-module {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(135deg, #39FF14 0%, #18520d 100%);
    color: #ffffff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
}

#form-module-container.sign-up > #form-module {
    left: 50%;
    background-image: linear-gradient(-135deg, #39FF14 0%, #18520d 100%);
    transition: all 0.35s ease-in-out;
}

#form-module-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 150px;
    overflow: auto;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 450px;
    display: inline-block;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

form#signup-form {
    display: none;
}

#form-module-container.sign-up form#signin-form {
    display: none;
}

#form-module-container.sign-up form#signup-form {
    display: inline-block;
}

#form-module h2 {
    margin: 0;
    width: 100%;
    font-size: 50px;
    -webkit-text-stroke: 1px #000000;
}

#form-module h2:first-of-type {
    display: block;
}

#form-module h2:last-of-type {
    display: none;
}

#form-module-container.sign-up h2:first-of-type {
    display: none;
}

#form-module-container.sign-up h2:last-of-type {
    display: block;
}

label {
    display: block;
    margin-bottom: 10px;
    border-left: 3px solid #ffffff;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding-left: 10px;
}

input {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Lucida Console', ui-monospace, monospace;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Lucida Console', ui-monospace, monospace;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form > div > .form-toggle {
    max-width: 175px;
    font-size: 15px;
    cursor: pointer;
}

form > div > .form-toggle:hover {
    text-decoration: underline;
}

.form-error {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #39ff14;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 20px;
    box-sizing: border-box;
}

button {
    width: auto;
    height: 40px;
    border: 0;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 18px;
    font-variant: small-caps;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    transition: all 0.25s ease;
    user-select: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease;
}

button:focus {
    outline: none;
}

#game-about {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    color: #ffffff;
    padding: 20px 0;
    box-sizing: border-box;
    transition: all 0.35s ease-in-out;
}

#game-about-inner {
    width: 100%;
    height: 100%;
    padding: 55px 75px;
    box-sizing: border-box;
    overflow: auto;
}

#form-module-container.sign-up > #game-about {
    right: 50%;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    direction: ltr;
}

#game-about h2 {
    margin: 0 0 20px;
    width: 100%;
    background-image: linear-gradient(to right, #39FF14 0%, #1F6013 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
    font-size: 45px;
}

#game-about p {
    margin-left: 50px;
    font-size: 14px;
    line-height: 16px;
}

#game-about img {
    margin: 20px 0 0 100px;
    width: calc(100% - 100px);
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    user-select: none;
}