body {
    background-color: #212121;
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Lucida Console', ui-monospace, monospace;
}

.maincontent {
    width: 80%;
    min-height: calc(100% - 60px);
    margin: 0 auto;
    padding: 20px 60px;
    background-color: #121212;
    color: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: "user-pic country-flag" "user-info country-stats";
    grid-gap: 60px;
    gap: 60px;
    justify-items: center;
    align-items: top;
}

.maincontent > h3 {
    grid-column: 1 / span 2;
    font-size: 40px;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid #39FF14;
    background-color: #212121;
    color: white;
    border-radius: 5%;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.container#user-pic {
    grid-area: user-pic;
    height: 350px;
}

.container .user-icon {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.container#user-info {
    grid-area: user-info;
    height: 100%;
}

#user-info-form,
#user-info-content {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 10px;
    gap: 10px;
}

#user-info-content > span,
#user-info-content > ul {
    margin: 0;
    display: inline-block;
    height: 30px;
    text-align: right;
}

#user-info-form input {
    width: 100%;
    height: 30px;
    border: 2px solid #00FF00;
    background-color: transparent;
    font-family: 'Lucida Console';
    color: white;
    font-size: 16px;
    text-align: right;
    padding: 0 20px;
    box-sizing: border-box;
}

#user-info-form input:focus {
    outline: none;
}

#user-info-form input::placeholder  {
    font-family: 'Lucida Console';
    color: white;
    font-size: 16px;
}

#user-info-form input:disabled {
    border: none;
}

#user-info-form ul {
    margin: 0;
}

#user-info-form li:not(:last-child) {
    margin-bottom: 10px;
}

#edit-profile-info:focus {
    outline: none;
}

#edit-profile-info::before {
    content: 'Edit Profile';
}

#edit-profile-info.save-profile::before {
    content: 'Save Profile';
}

.container p {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
}

.container#country-flag {
    grid-area: country-flag;
    height: 350px;
}

.container .country-flag {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.container#country-stats {
    grid-area: country-stats;
    height: 350px;
}

.container .stats {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: "econIcon econBar" 50px
                   "orderIcon orderBar" 50px
                   "healthIcon healthBar" 50px
                   "diplomacyIcon diplomacyBar" 50px /
                   50px 1fr;
    grid-gap: 10px 30px;
    gap: 10px 30px;
    align-items: center;
    justify-items: center;
}

/* Assigning grid-area to all the components */
.stats > * {
    user-select: none;
}

.stats > img {
    width: 50px;
    height: 50px;
}

.stats > #econIcon {
    grid-area: econIcon;
}

.stats > #orderIcon {
    grid-area: orderIcon;
}

.stats #healthIcon {
    grid-area: healthIcon;
}

.stats #diplomacyIcon {
    grid-area: diplomacyIcon;
}

.stats #econBar {
    grid-area: econBar;
}

.stats #orderBar {
    grid-area: orderBar;
}

.stats #healthBar {
    grid-area: healthBar;
}

.stats #diplomacyBar {
    grid-area: diplomacyBar;
}


/* Percentage bar for stats */
.stats .barContainer {
    border: 1px solid white;
    background-color: #ccc;
    position: relative;
    height: 30px;
    width: 100%;
    padding: 0px;
}


/* the width of the bar should be handled by js */
.stats .bar {
    position: relative;
    height: 100%;
    width: 100%;
    color: black;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

/* Doing this prevents the need to hardcode color code in js */
.barContainer .bar#red {
    background-color: #FF0000;
}

.barContainer .bar#green {
    background-color: #00FF00;
}

.container > button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 2px ridge #39FF14;
    background-color: #121212;
    color: #ffffff;
    font-family: Lucida Console;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
} 

#popup-module-blackout {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
}

#popup-module-blackout.active {
    display: block;
}

#popup-module {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 325px);
    width: 650px;
    height: 350px;
    border: 3px ridge #39FF14;
    background-color: #212121;
    color: #39FF14;
    padding: 50px;
    box-sizing: border-box;
}

#popup-module > h2 {
    margin: 0;
    height: auto;
    border-left: 5px solid #39FF14;
    line-height: 25px;
    padding-left: 20px;
}

#popup-module li {
    display: none;
}

#popup-module li.active {
    display: list-item;
}

