body {
    background-color: #212121;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.header {
    overflow: hidden;
    background-color: #000000;
    padding: 10px 5px;
    margin: 0px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
}

.header a.logo {
    font-size: 32px;
    font-weight: bold;
}

.right_header {
    float: right;
    margin-right: 30px;
}

.right_header img.visitor_icon {
    float: right;
    height: 40px;
    width: 40px;
}

.right_header a.login {
    background-color: yellow;
    color: black;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 80%;
    height: 60%;
    color: white;
    margin-top: 5%;
    display: table;
}

.container .container_formatter {
    display: table-row;
}

.container .about {
    width: 50%;
    height: 100%;
    background-color: #3e50b4;
    border-radius: 15px;
    padding: 20px;
    opacity: 100%;
    display: table-cell;
    text-align: left;
    word-wrap: normal;
}

.about_title {
    color: white;
    opacity: 100%;
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
    padding: 5px;
}

.container .signup {
    background: #FF3F80;
    width: 50%;
    height: 100%;
    opacity: 100%;
    border-radius: 15px;
    padding: 20px;
    display: table-cell;
}

.signup_title {
    font-weight: bold;
    font-size: 36px;
    opacity: 100%;
    margin: 0px;
    padding: 5px;
}

.signupform {
    display: table;
}

.signupform p {
    display: table-row;
}

.signupform label {
    display: table-cell;
    margin-top: 5px;
    font-size: 20px;
}

.signupform input {
    display: table-cell;
    margin-top: 5px;
}